<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{% block title %}Worldline UK{% endblock %}</title>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='index.js')}}"></script>
  <script src="https://kit.fontawesome.com/36c8cbaadc.js" crossorigin="anonymous"></script>
  
  <style type="text/css">
	h2 {
	 padding: 0 0 10px 0;
	}

  .fluid-container {
    background-attachment: fixed;
    background-image: url("{{ url_for('static', filename='website-bg.jpg')}}"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  </style>
  
</head>
<body>
<!--Header NavBar-->
<div class='container'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">Worldline UK</p>
        </div>
        <div class="collapse navbar-collapse" id='myNavbar'>
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li>
              <a id="card-menu-item-toggle" class='dropdown-toggle' data-toggle='dropdown' href="#">Cards<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a id="view-cards-menu-item" href="/cards">View Cards</a></li>
                  <li><a id="add-card-menu-item" href="/cards/add">Add Card</a></li>
              </ul>
            </li>
            <li><a id="view-invoice-menu-item" href='/invoices'>Invoices</a></li>
            {% if user.is_admin %}
            <li>
              <a class='dropdown-toggle' data-toggle='dropdown' href="#">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a id="admin-menu-item" href="/admin">View Users</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href='/logout'>Logout</a></li>
          {% else %}
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %} 
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--End of Header-->
<!--Main Body-->
<div class='fluid-container'>
  <div class='container pageContent'>
    <!-- Error or Success Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for c, m in messages %}
          {% if c == 'error' %}
            <div class="alert alert-danger alter-dismissable show" role="alert">
              <span name="display-message">{{ m }}</span>
              <button type="button" class="close" data-dismiss="alert">
                <span name="close-display-message" aria-hidden="true">&times;</span>
              </button>
            </div>        
          {% elif c == 'success' %}
            <div class="alert alert-success alter-dismissable show" role="alert">
              <span name="display-message">{{ m }}</span>
              <button type="button" class="close" data-dismiss="alert">
                <span name="close-display-message" aria-hidden="true">&times;</span>
              </button>
            </div>  
          {% endif %}
          
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- End of Error or Success Messages -->
    <div class='row marginGap'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <h1>Worldline UK</h1>
      </div>
    </div>
    {% block content %}
    <div class='row marginGap'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <h2>Digital Payments for a Trusted World</h2>
        <p>Worldline is a global leader in secure payments and trusted transactions. We are at the forefront of the digital revolution that is shaping new ways of paying, living, doing business and building relationships that pass on trust along the entire payments value chain, enabling sustainable economic growth. Our innovative solutions, rooted in a rock-solid technological base, are environmentally friendly, widely accessible and support social transformation.</p>
      </div>
    </div>
    <div class='row marginGap'>
      <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h3>Our company purpose</h3>
        <p>We design and operate leading digital payment and transactional solutions that enable sustainable economic growth and reinforce trust and security in our societies.  We make them environmentally friendly, widely accessible and support social transformation.</p>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h3>What matters to us</h3>
        <p>Want to know what makes Worldline tick? Find out why we embed trust, security and sustainability in all our leading solutions. Discover how Worldline is leading the way to the future of payments.</p>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h3>Our societal responsibility</h3>
        <p>What makes Worldline the industry leader in Corporate Social Responsibility (CSR)? Find out how we strive to put sustainability at the top of our agenda, in everything we do.</p>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
<!--End of Header & First Paragraph-->
</body>
</html>
