{% extends "base.html" %}
{% block content %}
<div class='row marginGap'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <h2>Digital Payments for a Trusted World</h2>
        <p>Worldline is a global leader in secure payments and trusted transactions. We are at the forefront of the digital revolution that is shaping new ways of paying, living, doing business and building relationships that pass on trust along the entire payments value chain, enabling sustainable economic growth. Our innovative solutions, rooted in a rock-solid technological base, are environmentally friendly, widely accessible and support social transformation.</p>
    </div>
</div>
<div class='row marginGap'>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h2>Our company purpose</h2>
        <p>We design and operate leading digital payment and transactional solutions that enable sustainable economic growth and reinforce trust and security in our societies.  We make them environmentally friendly, widely accessible and support social transformation.</p>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h2>What matters to us</h2>
        <p>Want to know what makes Worldline tick? Find out why we embed trust, security and sustainability in all our leading solutions. Discover how Worldline is leading the way to the future of payments.</p>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <h2>Our societal responsibility</h2>
        <p>What makes Worldline the industry leader in Corporate Social Responsibility (CSR)? Find out how we strive to put sustainability at the top of our agenda, in everything we do.</p>
    </div>
</div>
{% endblock %}

