{% extends "base.html" %}
{% block title %}View Invoice{% endblock %}
{% block content %}
<div class='row marginGap'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <div class="row">         
            <div class="row">   
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="cardNumber">Invoice Reference</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="invoiceReference" name="invoiceReference" value="{{invoice.invoice_reference}}" readonly=true/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="grossAmount">Invoice Gross Amount</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="grossAmount" name="grossAmount" value="£{{invoice.gross_amount}}" readonly=true/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="invoiceDate">Invoice Date</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="date" class="form-control" id="invoiceDate" name="invoiceDate" value="{{invoice.invoice_date}}" readonly=true/>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="paymentDate">Payment Date</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="date" class="form-control" id="paymentDate" name="paymentDate" value="{{invoice.payment_date}}" readonly=true/>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Net Amount</th>
                    <th scope="col">VAT Amount</th>
                    <th scope="col">Gross Amount</th>          
                </tr>
            <thead>
            <tbody>
                {% for i in invoice.line_items %}
                    <tr id="invoiceItems">
                        <td>{{i.product_name}}</td>
                        <td>{{i.product_quantity}}</td>
                        <td>£{{i.net_amount}}</td>
                        <td>£{{i.vat_amount}}</td>
                        <td>£{{i.gross_amount}}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href='/invoices'><button type="button" class="btn btn-primary">Back to invoice list</button></a>
    </div>
</div>  
{% endblock %}