/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
/*blockquote,q{quotes:;}*/
a img{border:none;}

/* Blanket Styles
-------------------------------------------------------------- */
body {
  font-family: 'Comic Sans MS', sans-serif;
}

.row {
  padding: 1em 0em;
}

.container {
  background-color: #fff;
}

/* Layout
-------------------------------------------------------------*/
.marginGap {
  margin: 0.5% 0%;
}

.pageContent {
  margin-top: 50px;
}

.fluid-container {
  background-attachment: fixed;
  background-image: url("website-bg.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Header & NavBar
-------------------------------------------------------------*/
.navbar-brand {
  color: #0CF!important;
}

.icon-bar {
  background-color: #0CF!important;
}

.navbar-toggle {
  border: 1px solid #0CF!important;
}

.dropdown-menu li a {
  color: #fff;
}
.dropdown-menu {
  background-color: #222;
}
.dropdown-menu li a:hover {
  background-color: #222;
  color: #0CF;
}

/* Fonts
-------------------------------------------------------------*/
h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1%;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

/* Media Queries
-------------------------------------------------------------*/
/* Smartphones, iPhone, Portrait 480x320 Phones */
@media (min-width:320px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  #nav-bar ul li a {
    display: none;
  }
  #nav-bar ul li .icon {
    display: block!important;
  }
}
/* Portrait e-readers (Nook/Kindle), Smaller Tablets @ 600 or @ 640 wide. */
@media (min-width:576px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  #nav-bar ul li a {
    display: none;
  }
  #nav-bar ul li .icon {
    display: block!important;
  }
}
/* Portrait Tablets, Portrait iPad, Landscape e-readers, Landscape 800x480 or 854x480 Phones */
@media (min-width:768px) {
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 32px;
  }
  #nav-bar ul li a {
    display: inline-block;
  }
  #nav-bar ul li .icon {
    text-align:right;
    display: none!important;
  }
  .icon {
    display: none;
  }
}
